.loadMore {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #ff69b4;;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out
}

.loadMore:hover {
  background-color: #ff1493;
  transform: scale(1.05);
}

.loadMore:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
